:root {
  --primary-bg: #000411;
  --link-color-primary: #aeb7b3;
  --secondary-bg: #520084;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #160c28;
}


.App {
  text-align: center;
  margin-bottom: 10%;
}

body {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  font-size: 18px;
  
}

nav a,
nav h3 {
  text-decoration: none;
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.player-info-container {
  display: flex;
  justify-content: flex-start;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
}

.logo-wrapper {
  padding: 0;
}

.logo {
  padding-left: 0;
}

.big-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}


.small-wrapper {
  border: 1px solid white;
  border-radius: 10px;
  width: 500px;
  height: 600px;
}

.medium-wrapper {
  border: 1px solid white;
  border-radius: 10px;
  width: 70vw;
  height: 600px;

}

.avatar-wrapper {
  border: 1px solid white;
  border-radius: 10px;
  margin: 15px;
  display: grid; 
  grid-template-columns: 0.7fr 1.3fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b"
    "a c"
    "a d"; 
}

.avatar {
  grid-area: a;
  height: 200px;
}

.username {
  grid-area: b;
}

.xp {
  grid-area: c;
}

.level {
  grid-area: d;
}

.skillbook {
  border: 1px solid white;
  border-radius: 10px;
  overflow-y: scroll;
  margin: 15px;
}

.cell-wrapper-row {
  display: flex;
  gap: 5px;
  margin: 15px;
}


.cell {
  border: 1px solid white;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.cell-image {
  height: 100px;
  width: 100px;
}

.cell-grid {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid white;
  border-radius: 10px;
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 0.9fr 1.2fr; 
  gap: 0px 0px;
  align-items: center;
  grid-template-areas: 
    "a b"
    "a c"; 
}

.icon-image {
  grid-area: a;
  justify-self: center;
}

.cell-title {
  grid-area: b;
  text-align: left;
}

.cell-desc {
  grid-area: c;
  text-align: left;
}

.highlighter {
  /* box-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1); */
  border-color: red;
}

.cell-wrapper-col {
  display: flex;
  flex-direction: column;
} 

.cell-grid-multi {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid white;
  border-radius: 10px;
  display: grid; 
  grid-template-columns: 0.7fr 1.8fr 0.5fr; 
  grid-template-rows: 0.9fr 1.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b d"
    "a c e"; 
}

.cell-type {
  grid-area: d;
}

.cell-skill {
  grid-area: e;
}

.journal-body {
  width: 500px;
  height: 200px;
}