:root {
  --primary-bg: rgb(22, 19, 32, 0.90);
  --link-color-primary: #aeb7b3;
  --link-color-secondary: #e1efe6;
  --border-color: #2c2640;
  --button-color-primary: #c3b1c6;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Righteous&display=swap');


.App {
  text-align: center;
  margin-bottom: 10%;
  border-color: var(--border-color);
  font-family: 'Overpass', sans-serif;
}


body {
  text-align: center;
  background-color: var(--primary-bg);
  color: white;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.75)
    ),  url('https://i.imgur.com/8IbWHmy.jpg');
  background-size: auto;
  background-position: center;
}

input {
  background-color: rgba(232, 209, 236, 0.25);
  color: white;
  border: none;
  border-radius: 2px;
}

.register-wrapper, .signin-wrapper {
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 20px;
}

.logo-icon {
  height: 60px;
}

.nav-logo-icon {
  height: 40px;
}

.tiny-logo-icon {
  height: 20px;
}

nav {
  background-color: var(--primary-bg);
  display: flex;
  justify-content: space-between;
}

.nav-bar {
  font-size: 18px;
  
}

nav a,
nav h3 {
  text-decoration: none;
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.2s ease;
  font-family: 'Righteous', cursive;
}

.player-info-container {
  display: flex;
  justify-content: flex-start;
}

.nav-links-container {
  display: flex;
  justify-content: flex-end;
}

.logo-wrapper {
  padding: 0;
  
}

.logo {
  width: 50vw;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

.logo-title {
  font-size: 80px;
  font-family: 'Righteous', cursive;
}

.title {
  font-family: 'Righteous', cursive;
}

.logo-desc {
    background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  text-align: left;
  padding: 10px;
  font-size: 18px;
}


.big-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}


.small-wrapper {
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 500px;
  height: 600px;
}

.medium-wrapper {
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 70vw;
  height: 600px;
  overflow-y: scroll;

}

.button-wrapper {
  margin-bottom: 20px;
}

.avatar-wrapper {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: 15px;
  display: grid; 
  grid-template-columns: 0.7fr 1.3fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b"
    "a c"
    "a d"; 
}

.avatar {
  grid-area: a;
  height: 200px;
}

.username {
  grid-area: b;
}

.xp {
  grid-area: c;
}

.level {
  grid-area: d;
}

.skillbook {
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 15px;
}

.skill {
  width: fit-content;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.skillbook-title-bar {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b c"; 
  width: 100%;
  justify-items: center;
}

.skillbook-title {
  width: fit-content;
  grid-area: b;
}

.skill-info {
  justify-self: right;
  align-self: center;
  margin-right: 12px;
  grid-area: c;
}

.cell-wrapper-row {
  display: flex;
  gap: 5px;
  margin: 15px;
}


.cell {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.cell-image {
  height: 100px;
  width: 100px;
}

.cell-grid {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid; 
  grid-template-columns: 0.5fr 1.5fr; 
  grid-template-rows: 0.9fr 1.2fr; 
  gap: 0px 0px;
  align-items: center;
  grid-template-areas: 
    "a b"
    "a c"; 
}

.icon-image {
  grid-area: a;
  justify-self: center;
  align-self: center;
}

.cell-title {
  grid-area: b;
  text-align: left;
  align-self: center;
}

.cell-desc {
  grid-area: c;
  text-align: left;
}

.cell-wrapper-col {
  display: flex;
  flex-direction: column;
} 

.cell-grid-multi {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid; 
  grid-template-columns: 0.7fr 1.8fr 0.5fr; 
  grid-template-rows: 0.9fr 1.2fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b d"
    "a c e"; 
}

.cell-grid-leader {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 0.7fr 1fr 1.4fr 0.9fr;
  grid-template-rows: 1.1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "a b c d"
    "a b c e"; 
}

.stat-block {
  display: flex;
  column-gap: 10px;
  text-align: right;
  justify-content: flex-end;
}

.cell-1 {
  grid-area: d;
}

.cell-2 {
  grid-area: e;
}

.entry-body {
  width: 500px;
  height: 300px;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(232, 209, 236, 0.25);
  color: white;
}

.j-edit, .j-del {
  height: 40px;
  width: 60px;
  justify-self: right;
  align-self: center;
}

.mui-icon {
  color: var(--button-color-primary);
  transition: all .2s ease-in-out;
}

.mui-icon:hover {
  transform: scale(1.5);
  color: #f2cd6d;
}

.x-quest {
  float: right;
}

.new-entry-container {
  width: 510px;
  margin: auto;
}

.quest-form {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.2fr 0.8fr; 
  grid-template-rows: 0.3fr 1.4fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b"
    "c c"
    "d e";
  height: 500px;
  width: 500px;
}

.q-name {
  grid-area: a;
}
.q-button {
  grid-area: b;
  display: flex;
  justify-content: flex-end;
}
.q-body {
  grid-area: c;
}
.q-inputs {
  grid-area: d;
  display: flex;
}
.q-preview {
  grid-area: e;
  align-self: top;
  justify-self: right;
}

.quest-name {
  width: 100%;
  height: 75%;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(232, 209, 236, 0.25);
  color: white;
}

.j-form {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin: auto;
  margin-bottom: 10px;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1.2fr 0.8fr; 
  grid-template-rows: 0.3fr 0.3fr 2.1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "a b"
    "c c"
    "d d"; 
  width: 500px; 
  height: 430px; 
}

.j-date {
  grid-area: a;
  width: fit-content;
  height: fit-content;

}
.j-button {
  grid-area: b;
  display: flex;
  justify-content: flex-end;
}
.j-title {
  grid-area: c;
}
.j-body {
  grid-area: d;
}

.entry-name {
  width: 100%;
  height: 75%;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(232, 209, 236, 0.25);
  color: white;
}

.entry-date {
  width: 100%;
  height: 75%;
  border: 0px;
  border-radius: 5px;
  background-color: rgba(232, 209, 236, 0.25);
  color: white;
}

.formInput .MuiOutlinedInput-root {
  color: white;
  border: 1px solid var(--border-color)
}

::-webkit-calendar-picker-indicator {
  filter: invert(99%) sepia(60%) saturate(12%) hue-rotate(244deg) brightness(103%) contrast(100%);
}

.fade {
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}


.highlighter {
  border-color: #f2cd6d;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}